.App-header {
  background-color: #282c34;
  min-height: 20vh;
  display: flex;
  
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.app{
  padding: 30px;
}
.main{
  padding: 30px;
  display: flex;
  flex-direction: row;
}

.App>div{
  margin-right: 50px;
}
.error {
  border: red 1px solid;
}
.error-message{
  color: red;
}
.active-filter{
  background-color: cadetblue;
}
.done{
  opacity: 0.5;
}